/**** Global Styles ****/
body {
    padding-top: 200px;
    background-color: #c98986;
}

html {
    font-size: 16px;
}


/**** Navigation Bar Section ****/

.navbar {
    background-color: #ffffff;
    padding: 10px 0;
}

.fa-square {
    color: #462749;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-brand {
    font-weight: 900;
    display: flex;
    flex-wrap: inherit;
    letter-spacing: 0.1em;;
}

.vocation {
    font-weight: 200;
    text-transform: uppercase;
}

.nav-link {
    text-transform: uppercase;
    color: #573B5A;
}

.nav-link .active {
    color:#462749;
}

/**** Main Section ****/

main .container-fluid {
    margin-bottom: 150px;
}

main .container-fluid .d-flex {
    margin: 15px;
}
.intro-container {
    height: 500px;
}
.background-left {
    margin: 0 auto;
    background-color: #8b575c;
    height: 76%;
    position: absolute;
    width: 50%;
}

.background-right {
    margin: 0 auto;
    background-color: #ffffff;
    height: 55%;
    position: relative;
    width: 20%;
}

.bg-primary {
    border-collapse: collapse;
   background-color: rgb(201,137,134)!important;
}

/**** Card Section ****/

.card {
    margin-top: 100px;
    max-width: 768px;
    height: auto;
}

.img-fluid {
    width: 150px;
    height: 150px;
}
.col-md-4 h2 {
    font-size: 1.25rem;
    text-align: center;
}

.col-md-4 h3 {
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.col-md-4 .card-footer {
    background-color: #ffffff;  
}

.icons {
    display: table;
    margin: auto;
}

ul li {
    display: inline-block;
}

ul li .fa-linkedin-in, .fa-github {
    padding-right: 40px;
    color:#573B5A;
}

ul li .fa-instagram {
    color: #573b5a;
}

.card-body h1 {
    font-size: 2.5rem;
}

.card-title {
    margin: 10px 0;
}

.btn {
    font-weight: 400;
    text-transform: uppercase;
}

.btn-primary {
    background-color:#462749;
    color: #ffffff;
    border: none;
}

.btn-primary:hover {
    color: #462749;
    background-color: #ffffff;
    border: 1px solid #462749;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #000000;
    background-color: #f6bdd1;
    border: none;
}

.btn-outline-primary {
    background-color: #ffffff;
    color:#462749;
    border-color: #462749;
}

.btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active {
    color: #f6bdd1;
    background-color: #462749;
    border: none;
}

.card-text {
    margin-top: 30px;
    font-size: 1rem;
}

/**** Footer Section ****/

.contact-info-horizontal .p-2 {
    text-align: center;
    line-height: 1em;
}

.contact-info-horizontal .p-2 .contact-method {
    text-transform: uppercase;
    margin-top: 5px;
}

/*.contact-info-horizontal .p-2 .icons {
    display: table;
    padding-right: 10px;
    
}*/

/**** Media Queries ****/
@media only screen and (min-width: 320px) and (max-width: 425px), (orientation: landscape) {
    .card {
      margin-top: 0px;
    }

    body {
        padding-top: 150px;
    }

    main .container-fluid {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 768px), (orientation: landscape){
    .card {
        margin: 5%;
        max-width: 700px
    }
    .forward-slash {
        font-weight: 200;
        margin-right: 10px;
    }
    .contact-info .list-group {
        display: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .forward-slash {
        display: none;
    }
    .navbar-brand, #vocation {
        text-align: center;
    }
    .contact-info-horizontal {
        visibility: hidden;
    }
    footer {
        margin-top: 155px;
    }
}